
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Charlotte Skyline Lighting</title>
        <link rel="stylesheet" href="/assets/stylesheets/default.css">
    </head>

    <body>
        <%- include ('../partials/header_admin'); -%>
        
        <main id="public_main">

          
        </main>

        <%- include ('../partials/footer_admin'); -%>
    </body>

</html>