<!DOCTYPE html>
<html lang="en">

    <head>
         <title>Charlotte Skyline Lighting</title>
         <link rel="stylesheet" href="../assets/stylesheets/default.css">
         <link rel="stylesheet" href="../assets/jquery-ui-1.12.1.custom/jquery-ui.min.css">
         <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	     <script src="../assets/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
         <script src="../assets/scripts/directory_accordion.js"></script>
         <script src="../assets/scripts/directory_info_accordion.js"></script>
    </head>

    <body>
        <%- include ('../partials/header_admin'); -%>
        
        <main id="public_main">
            <h1>Directory</h1>
            <h2>by company name</h2>
            <div id="accordion1">
                <h3>A</h3>
                <div>

                </div>
                <h3>B</h3>
                <div>
                    <div id="accordion2">
                        <h3>Bank of America</h3>
                        <div>
                            <p id="member_info">Moira Quinn <br> Email: mquinn@charlottecentercity.org <br> Phone: (704) 123-4567</p>
                            <p id="member_info">Paul Burley <br> Email: paul.burley@bofa.com <br> Phone: (704) 123-4567</p>
                            <p id="member_info">Jane Doe <br> Email: jdoey@gmail.com <br> Phone: (704) 123-4567</p>
                        </div>
                    </div>
                </div>
                <h3>C</h3>
                <div>
                    
                </div>
                <h3>D</h3>
                <div>
                    
                </div>
                <h3>E</h3>
                <div>
                    
                </div>
                <h3>F</h3>
                <div>
                    
                </div>
            </div>
        </main>

        <%- include ('../partials/footer_admin'); -%>
    </body>

</html>