<!DOCTYPE html>
<html lang="en">

<head>
    <title>Charlotte Skyline Lighting</title>
    <link rel="stylesheet" href="../assets/stylesheets/default.css">
    <link rel="stylesheet" href="../assets/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        // Ignore the syntax error, this works
        var notifications = <%- notifications %>;
    </script>
    <script src="../assets/scripts/load_notifications.js"></script>
</head>

<body>
    <%- include ('../partials/header'); -%>
    <h1 id="center_text">Notifications</h1>
    <main id="notifications_main">
        <div class="notification_info">
            <h2 id="subject">Subject: </h2>
            <h2>Event Description: </h2>
            <p id="event_description"></p>
        </div>
        <div class="participating">
            <h2>Participating:</h2>
            <ul id="participating_members">
            </ul>
        </div>
        <div class="date">
            <h2 id="date">Date: </h2>
        </div>
        <div class="color">
            <h2 id="color">Color: </h2>
            <div id="color_box">
                #000000
            </div>
        </div>
        <div class="response">
            <h2>Would you like to approve this event?</h2>
            <form action="/notifications/updateRequest" method='POST'>
                <button name="approve" type="submit" id="accept">Approve</button>
                <button name="deny" type="submit"  id="decline">Deny</button>
                <input type="hidden" name="requestID" id="requestID" value=''>
                <!-- Temporary addition, remove once authentication works -->
                <input type="text" id="pass" name='pass'>
            </form>
        </div>
    </main>
    <aside>
    </aside>
    <%- include ('../partials/footer'); -%>
</body>

</html>