<table class='calendar' id='calendarTable'>
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <!--Print blank days for days that don't exist-->
        <%for (let i=0; i < month.array[0].day; i++){%>
            <td></td>
            <%} for (let i=0; i < month.array.length; i++){%>
                <!--For each real day, add a block to the calendar-->
                <td class='calendar_cell'>
                    <div class='date_holder'>
                        <p class='date'>
                            <%=month.array[i].date%>
                        </p>
                    </div>
                    <div class="event_holder">
                        <p class="event">
                            <a class="event_link" href="#">
                                <%-month.array[i].contents%>
                            </a>
                        </p>
                    </div>
                    <!--For every sunday, move to the next week-->
                    <%if(month.array[i].day===6){%>
    </tr>
    <tr>
        <%} }%>
</table>