<footer id="public_footer">
    <div id="public_sitemap">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="public_calendar.html">Calendar</a></li>
            <li><a href="request.html">Request Form</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="login.html">Partner Login</a></li>
        </ul>
    </div>
    <div id="public_contact_info">
        <p id="public_contact_name">Charlotte Center City</p>
        <p>200 S. Tryon Street<br>Suite 1600<br>Charlotte, NC 28202<br>(704) 332-2227</p>
    </div>

</footer>