<footer id="public_footer">
    <div id="public_sitemap">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/request">Request Form</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Partner Login</a></li>
        </ul>
    </div>
    <div id="public_contact_info">

        <p id="public_contact_name">Charlotte Center City</p>
        <p>200 S. Tryon Street<br>Suite 1600<br>Charlotte, NC 28202<br>(704) 332-2227</p>
    </div>
</footer>