<header id="public_header">
    <a id="ccc_logo_grid_item">
        <img src="/assets/images/logo.png" alt="Charlotte Center City Partners">
    </a>
        <a id="notification_bell" href="/notifications"><img
            src="/assets/images/1541228129.svg"
            alt="Notification Bell Icon"
            height="25"
            width="25"/></a>
        <a id="login_header_item" href="/login">Login</a>
    <div id="public_header_row">
        <a id="public_header_grid_item_1" href="/">Home</a>
        <a id="public_header_grid_item_2" href="/calendar">Calendar</a>
        <a id="public_header_grid_item_3" href="/request">Submit Request</a>
        <div id="public_dropdown">
            <a id="public_contact_dropdown">Contact and Information</a>
            <ul id="public_contact_dropdown_content">
                <li>
                    <a href="/faq">FAQ</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>