<header id="public_header">
    <a id="ccc_logo_grid_item">
        <img src="../assets/images/logo.png" alt="Charlotte Center City Partners">
    </a>
    <a id="login_header_item" href="login.html">Login</a>
    <div id="public_header_row">
        <a id="public_header_grid_item_1" href="index.html">Home</a>
        <a id="public_header_grid_item_2" href="calendar.html">Calendar</a>
        <a id="public_header_grid_item_3" href="request.html">Submit Request</a>
        <div id="public_dropdown">
            <a id="public_contact_dropdown">Contact and Information</a>
            <ul id="public_contact_dropdown_content">
                <li>
                    <a href="faq.html">FAQ</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>