
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Charlotte Skyline Lighting</title>
        <link rel="stylesheet" href="../assets/stylesheets/default.css">
    </head>

    <body>
        <%- include ('partials/header'); -%>
        <!--header id="public_header">
            <a id="ccc_logo_grid_item">
                <img src="../assets/images/logo.png" alt="Charlotte Center City Partners">
            </a>
            <a id="login_header_item" href="login.html">Login</a>
            <div id="public_header_row">
                <a id="public_header_grid_item_1" href="index.html">Home</a>
                <a id="public_header_grid_item_2" href="calendar.html">Calendar</a>
                <a id="public_header_grid_item_3" href="request.html">Submit Request</a>
                <div id="public_dropdown">
                    <a id="public_contact_dropdown">Contact and Information</a>
                    <ul id="public_contact_dropdown_content">
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header-->
        
        
        
       
        <main id="public_main">
            
            <p>lfoadhfoawhd;ofah;dlfa;sdjfj;oasdhf;asdf;oasdf;lasjdjf;asdjfl<br>ldkjfoadjf;ajds;lfja;odjf;aodjf;ajdf;lasjdf;ojasd;fja;sodfj;asdoj<br></p>

        </main>

        <%- include ('partials/footer'); -%>
        <!--footer id="public_footer">
            <div id="public_sitemap">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="public_calendar.html">Calendar</a></li>
                    <li><a href="request.html">Request Form</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="login.html">Partner Login</a></li>
                </ul>
            </div>
            <div id="public_contact_info">
                <p id="public_contact_name">Charlotte Center City</p>
                <p>200 S. Tryon Street<br>Suite 1600<br>Charlotte, NC 28202<br>(704) 332-2227</p>
            </div>

        </footer-->
    </body>

</html>