
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Charlotte Skyline Lighting</title>
        <link rel="stylesheet" href="../assets/stylesheets/default.css">
    </head>

    <body>
        <%- include ('partials/header'); -%>
        
        <main id="public_main">
            
            <p>lfoadhfoawhd;ofah;dlfa;sdjfj;oasdhf;asdf;oasdf;lasjdjf;asdjfl<br>ldkjfoadjf;ajds;lfja;odjf;aodjf;ajdf;lasjdf;ojasd;fja;sodfj;asdoj<br></p>

        </main>

        <%- include ('partials/footer'); -%>
    </body>

</html>