<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Charlotte Skyline Lighting</title>
        <link rel="stylesheet" href="/assets/stylesheets/default.css">
    </head>

    <body>
        <%- include ('partials/header_admin'); -%>
        
        <main id="public_main">
          
          <img id="ccc_logo_homepage" src="/assets/images/background.jpg" alt="Charlotte Skyline">

          <div id="ccc_welcome_message">
            <p>Welcome to the homepage for Charlotte Skyline Lighting. <br> Our purpose is to light up the Charlotte skyline to help unite our community behind important events.</p>
          </div>
            
        </main>

        <%- include ('partials/footer_admin'); -%>
    </body>

</html>