<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Charlotte Skyline Lighting</title>
        <link rel="stylesheet" href="/assets/stylesheets/default.css">
    </head>

    <body>
        <%- include ('partials/header'); -%>
        <main id="public_main">
            <h1>Thank you for submitting your event!</h1>

            <p>We would like to take this moment to remind you that while you have submitted a request it does not meand that it will be approved. If it is approved by Charlotte Center City, then the companies and buildings
                they partner with are not under any obligation to participate in the event. They will participate based on their individual company guidelines and goals as well as their own lighting schedules.
            </p>

        </main>
        <%- include ('partials/footer'); -%>
    </body>

</html>