
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Charlotte Skyline Lighting</title>
        <link rel="stylesheet" href="../assets/stylesheets/default.css">
    </head>

    <body>
        <%- include ('partials/header'); -%>
        
        <main id="public_main">
            <h1>Lighting Event Request Form</h1>

            <p>Please note that requests are reviewed and any not meeting the guidelines of CCC will be rejected. These include but are not limited to:</p>
            <ul>
                <li>Politics</li>
                <li>Birthdays</li>
                <li>Baby Gender Reveals</li>
                <li>Company Birthdays</li>
            </ul>
            <p>To see more information about what requests are likely to be rejected, please visit the FAQ page. This will also give you more information about the lighting of the Charlotte skyline and why events are chosen. </p>

            <form>

            </form>

        </main>

        <%- include ('partials/footer'); -%>
    </body>

</html>