
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Charlotte Skyline Lighting</title>
        <link rel="stylesheet" href="../assets/stylesheets/default.css">
    </head>

    <body>
        <%- include ('partials/header'); -%>
        
        <main id="public_main">
          
            <img src="https://encrypted-tbn0.gstatic.com/
            images?q=tbn%3AANd9GcQ5PdxXFw4u3BRG4166i7Nbk
            x0VyGGNt0hWc3loNeD7GIL4nbbo&usqp=CAU">

        </main>

        <%- include ('partials/footer'); -%>
    </body>

</html>