
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Charlotte Skyline Lighting</title>
        <link rel="stylesheet" href="/assets/stylesheets/default.css">
    </head>

    <body>
        <%- include ('../partials/header'); -%>
        
        <main id="public_main">
          
          <h1>Contact Charlotte Center Partners</h1>
          <hr>
          <p>
            200 S. Tryon Street, Suite 1600 Charlotte, NC 28262<br>
            Phone - (704) 332-2227<br>
            Fax - (704) 342-1233
          </p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.1918212940814!2d-80.84695038439635!3d35.2265946623777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a02f0d2470c7%3A0x540e2ee952e10fb1!2s200%20S%20Tryon%20St%20%231600a%2C%20Charlotte%2C%20NC%2028202!5e0!3m2!1sen!2sus!4v1635955422301!5m2!1sen!2sus" width="900" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </main>

        <%- include ('../partials/footer'); -%>
    </body>

</html>