<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Charlotte Skyline Lighting</title>
        <link rel="stylesheet" href="/assets/stylesheets/default.css">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
           
        <link rel="stylesheet" href="/assets/bxslider-4-4.2.12/src/css/jquery.bxslider.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/assets/bxslider-4-4.2.12/src/js/jquery.bxslider.js"></script>

        <script src="/assets/scripts/index_slider.js"></script>
    </head>

    <body>
        <%- include ('../partials/header'); -%>

        <main id="public_main">
          <!-- <img id="ccc_logo_homepage" src="/assets/images/background.jpg" alt="Charlotte CSkyline"> -->

          <div id="ccc_welcome_message">
            <h1>Welcome to the homepage for the Charlotte Tower Lighting Project</h1><br>
            <p id="description">The Charlotte skyline lights have come to have great meeting to the City of Charlotte, the Charlotte area, and its denizens. The lighting of the skyline has become a sign of unity for Charlotte while also promoting important events occurring. The lights are used to showcase different charities and research groups. To celebrate holidays like the fourth of July. And even as a sign of remembrance and support for past events and people who have been lost.</p>
            <div id=sliderframe>
              <ul id="slider">
                <li><img src="/assets/images/background.jpg" alt="Skyline Different Events" title="Charlotte Skyline Lights for different events."></li>
                <li><img src="/assets/images/crown_multilight.jpg" alt="BoA Mulitcolor Crown" title="Bank of America Tower Crown with Mulitple Colors"></li>
                <li><img src="/assets/images/truist_teacher.jpg" alt="Truist For Teachers" title="Truist Lights Up For Teachers"></li>
                <li><img src="/assets/images/charlotte_for_uncc.jpg" alt="Charlotte Supports UNC Charlotte" title="Charlotte Skyline Lights Supporting UNC Charlotte #CharlotteStrong"></li>
                <li><img src="/assets/images/panthers_lights.jpg" alt="Pathners Game Day Lights" title="Lighting Up for the Panthers Game!"></li>
                <li><img src="/assets/images/fourth_of_july.jpg" alt="Fourth of July Fireworks" title="Fourth of July in Charlotte"></li>
              </ul>
            </div>
            <!-- <p id="description">The Charlotte skyline lights have come to have great meeting to the City of Charlotte, the Charlotte area, and its denizens. The lighting of the skyline has become a sign of unity for Charlotte while also promoting important events occurring. The lights are used to showcase different charities and research groups. To celebrate holidays like the fourth of July. And even as a sign of remembrance and support for past events and people who have been lost.</p> -->
          </div>
            
        </main>

        <%- include ('../partials/footer'); -%>
    </body>

</html>